@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

body {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #333f48;
}



.btn-standard {
    background-color: #508eef;
    font-size: 18px;
    padding: 14px 30px;
    border-radius: 50px;
    line-height: 1;
    color: #fff;
    box-shadow: none;
    border: 0;
}
.btn-outline-standard {
    background: none;
    font-size: 18px;
    padding: 12px 28px;
    border-radius: 50px;
    line-height: 1;
    color: #333f48;
    box-shadow: none;
    border: 2px solid #508eef;
}
.block-title {
    font-size: 34px;
    color: #333f48;
    font-weight: 500;
    margin-bottom: 30px;
}
.block-title-center {
    text-align: center;
}



/* HEADER */
.header-top {
    background-color: #eef3ff;
}
.header-top-nav {
    flex: 0 0 auto;
    width: 70%;
}
.header-top-nav .nav-link {
    color: #333f48;
    padding: 14px 0;
    border-bottom: 2px solid transparent;
    margin-right: 30px;
}
.header-top-nav .nav-link:hover {
    color: #508eef;
    border-color: #508eef;
}
.header-top-search {
    flex: 0 0 auto;
    width: 30%;
    position: relative;
}
.header-top-search .form-control {
    border-radius: 0;
    background: #fff;
    border: 0;
    padding: 6px 16px;
    border: 2px solid rgba(46, 125, 244, 0.2);
    color: #333f48;
    font-size: 16px;
    border-radius: 50px;
}
.header-top-search input[type="submit"] {
    background: url('/img/search-icon.svg') center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    border: 0;
    box-shadow: none;
}
.header-top-search .form-control::placeholder {
    color: #999;
}
.header-top-search .form-control:focus {
    outline: none !important;
    border-color: #508eef;
    box-shadow: none;
}
.header-bottom {
    padding: 40px 0;
}
.header-bottom-logo {
    flex: 0 0 auto;
    width: 22%;
    position: relative;
}
.header-bottom-logo img {
    width: 100%;
}
.header-bottom-catalog {
    flex: 0 0 auto;
    width: 26%;
    position: relative;
}
.header-bottom-catalog a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    margin-left: 20px;
    color: #508eef;
    border: 1px solid #508eef;
}
.header-bottom-catalog a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.header-bottom-catalog a span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.header-bottom-tel {
    flex: 0 0 auto;
    width: 27%;
    position: relative;
}
.header-bottom-tel-wrapper {
    display: flex;
    align-items: center;
}
.header-bottom-tel-icon {
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px 5px rgb(46 125 244 / 15%);
    position: relative;
}
.header-bottom-tel-icon svg {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    fill: #508eef;
}
.header-bottom-tel a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    color: #333f48;
}
.header-bottom-tel a small {
    font-size: 14px;
    color: #999;
    display: block;
    font-weight: 400;
}
.header-bottom-cart {
    flex: 0 0 auto;
    width: 25%;
    position: relative;
}
.header-bottom-cart a {
    color: #333f48;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-bottom-cart-icon {
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px 5px rgb(46 125 244 / 15%);
    position: relative;
}
.header-bottom-cart a svg {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    fill: #508eef;
}
.header-bottom-cart a span {
    padding-left: 20px;
}
.header-bottom-cart a span strong {
    display: block;
}
.header-bottom-cart a span i {
    font-style: normal;
    border-bottom: 1px solid #508eef;
}
/* HEADER */



/* HOME */
.home-carousel {
    margin-bottom: 40px;
}
.home-carousel-1 {
    position: relative;
    overflow: hidden;
    background: linear-gradient(300deg, #91EAE4, #86A8E7, #2e7df4);
    height: 405px;
    border-radius: 25px;
}
.home-carousel-1 img {
    position: absolute;
    width: 350px;
    bottom: -180px;
    right: 50px;
}
.home-carousel-1 .home-carousel-inner {
    position: absolute;
    left: 40px;
    top: 40px;
}
.home-carousel-1 .home-carousel-inner h1 {
    margin-top: 0;
    margin-bottom: 100px;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    line-height: 1.4;
}
.home-carousel-1 .home-carousel-inner .btn-standard {
    background-color: #fff;
    color: #111;
}
.home-carousel-2,
.home-carousel-3 {
    height: 190px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #d0e2ff;
}
.home-carousel-2 {
    margin-bottom: 25px;
    background-color: #e9faff;
}
.home-carousel-2 .home-carousel-inner {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 20px;
}
.home-carousel-2 .home-carousel-inner p {
    display: block;
    color: #333f48;
    font-size: 24px;
    margin: 0;
    margin-bottom: 60px;
    font-weight: 700;
    line-height: 1.2;
}
.home-carousel-2 .home-carousel-inner a {
    color: #508eef;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid;
}
.home-carousel-2 img {
    position: absolute;
    width: 250px;
    bottom: -20px;
    right: -80px;
    border-radius: 5px;
    box-shadow: 0 1px 20px rgb(55 90 143 / 45%);
}
.home-carousel-3 {
    background-color: #e6efff;
}
.home-carousel-3 .home-carousel-inner {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 20px;
}
.home-carousel-3 .home-carousel-inner p {
    display: block;
    color: #333f48;
    font-size: 24px;
    margin: 0;
    margin-bottom: 60px;
    font-weight: 700;
    line-height: 1.2;
}
.home-carousel-3 .home-carousel-inner a {
    color: #508eef;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid;
}
.home-carousel-3 img {
    position: absolute;
    width: 250px;
    bottom: -20px;
    right: -80px;
    border-radius: 5px;
    box-shadow: 0 1px 20px rgb(55 90 143 / 45%);
}
.home-categories {
    margin-top: 50px;
    margin-bottom: 40px;
}
.home-categories-item {
    margin-bottom: 25px;
}
.home-categories-item a {
    display: block;
    border: 1px solid #b5cdf2;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    height: 125px;
    text-decoration: none;
    color: #333f48;
}
.home-categories-item a:hover {
    color: #508eef;
    box-shadow: 0px 0px 15px 5px rgb(46 125 244 / 15%);
    border-color: transparent;
}
.home-categories-item a img {
    position: absolute;
    width: auto;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    max-width: 110px;
    max-height: 100px;
}
.home-categories-item a h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 140px;
    right: 25px;
    font-size: 20px;
    line-height: 1.3;
}
.home-products-block {
    padding: 50px 35px;
    position: relative;
    border-radius: 20px;
}
.home-products-block-bg {
    background-color: #eef3ff;
}
.home-products-block-bg-grad {
    background: linear-gradient(300deg, #91EAE4, #86A8E7, #2e7df4);
}
.home-products-block-2 {
    margin: 20px 0;
}
.home-products-block-bg-grad .block-title {
    color: #fff;
}
.home-products-item {
    background-color: #fff;
    padding: 30px 20px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgb(46 125 244 / 15%);
    text-align: center;
    transition: 0.2s ease-in-out all;
}
.home-products-block-bg-grad .home-products-item:hover {
    transform: scale(1.05);
}
.home-products-item-image {
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.home-products-item a {
    text-decoration: none;
    color: #333f48;
    display: block;
}
.home-products-item a:hover {
    color: #508eef;
}
.home-products-item a p {
    margin: 0;
    height: 50px;
}
.home-products-item a span strong {
    color: #508eef;
}
.home-products-item a span i {
    font-style: normal;
    color: #999;
}
.home-products-swiper-nav {
    position: absolute;
    bottom: 70px;
}
.home-products-swiper-nav .swiper-button-prev,
.home-products-swiper-nav .swiper-button-next {
    color: #508eef;
    display: inline-block;
    position: relative;
    left: auto;
    right: auto;
    margin-right: 15px;
}
.home-products-block-bg-grad .home-products-swiper-nav .swiper-button-prev,
.home-products-block-bg-grad  .home-products-swiper-nav .swiper-button-next {
    color: #fff;
}
.home-products-swiper-nav .swiper-button-prev svg,
.home-products-swiper-nav .swiper-button-next svg {
    width: 35px;
    height: 35px;
}
.home-products-swiper-nav .swiper-button-prev:after,
.home-products-swiper-nav .swiper-button-next:after {
    content: '';
}
.home-individual {
    background-color: #eef3ff;
    padding: 50px 35px;
    text-align: center;
    border-radius: 20px;
}
.home-individual p {
    font-size: 20px;
    margin-bottom: 30px;
}
/* HOME */



/* PRODUCT PAGE */
.product-page {
    margin-bottom: 50px;
}
.ProductGallerySwiper .swiper-slide {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.ProductGalleryMiniSwiper {
    height: 400px;
}
.ProductGalleryMiniSwiper .swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ddd;
}
.product-details {
    padding-left: 10px;
}
.product-details h1 {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.2;
}
.product-details .price {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    color: #999;
}
.product-details .price span {
    color: #333f48;
}
.product-details .btn-outline-standard {
    margin-left: 15px;
}
.product-description {
    margin: 50px 0;
}
.page-individual {
    background-color: #eef3ff;
    padding: 25px;
    border-radius: 15px;
}
.page-individual .block-title {
    font-size: 20px;
    margin: 0;
}
.page-individual p {
    font-size: 16px;
    margin-bottom: 15px;
}
.page-individual .btn-standard {
    font-size: 15px;
    padding: 10px 20px;
}
.page-individual .form-check{
    margin-top: 20px;
}
.page-individual .form-check small {
    display: block;
    color: #777;
}
.product-tech {
    margin-top: 20px;
}
.product-tech span strong {
    color: #7a9cd1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.breadcrumb {
    color: rgb(173, 173, 173);
    font-size: 15px;
}

.breadcrumb a {
    color: #999;
}
/* PRODUCT PAGE */


/* CART */
.cart-page {
    min-height: 300px;
}
.cart-item {
    border: 2px solid #eef3ff;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.cart-item-col-name {
    flex: 0 0 auto;
    width: 45%;
}
.cart-item-col-name a {
    font-size: 26px;
    font-weight: 400;
}
.cart-item-col-quantity {
    flex: 0 0 auto;
    width: 23%;
    text-align: center;
}
.cart-item-col-quantity .btn {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    color: #777;
}
.cart-item-col-quantity .btn:focus {
    outline: 0 !important;
    box-shadow: none;
    color: #2e7df4;
}
.cart-item-col-quantity .form-control {
    text-align: center;
    padding: 0;
    border: 0;
    border-bottom: 2px solid #eef3ff;
    border-radius: 0;
    padding: 5px 0;
    width: 40px;
    font-size: 20px;
}
.cart-item-col-quantity .form-control:focus {
    outline: 0 !important;
    box-shadow: none;
    border-color: #2e7df4;
}
.cart-item-col-price {
    flex: 0 0 auto;
    width: 22%;
    text-align: center;
    font-size: 22px;
    color: #777;
}
.cart-item-col-price strong {
    font-weight: 500;
    color: #333f48;
}
.cart-item-col-del {
    flex: 0 0 auto;
    width: 10%;
    text-align: right;
}

.cart-page input[type="number"]::-webkit-outer-spin-button,
.cart-page input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.cart-panel {
    background-color: #eef3ff;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.cart-panel .btn-standard {
    padding: 12px 15px;
    width: 100%;
    text-align: center;
    font-size: 17px;
}
/* CART */


/* FOOTER */
footer {
    background-color: #eef3ff;
    padding-top: 50px;
    padding-bottom: 25px;
    color: #999;
}

.footer-logo {
    flex: 0 0 auto;
    width: 22%;
    position: relative;
}
.footer-logo img {
    width: 100%;
}
.footer-catalog {
    flex: 0 0 auto;
    width: 53%;
    position: relative;
    padding-left: 70px;
}
.footer-catalog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-catalog ul li {
    margin-bottom: 15px;
}
.footer-catalog a {
    text-decoration: none;
    color: #333f48;
    display: inline-block;
}
.footer-catalog ul {
    columns: 2;
}
.footer-contacts {
    flex: 0 0 auto;
    width: 25%;
    position: relative;
}
.footer-contacts a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #508eef;
    font-weight: 700;
    font-size: 20px;
}
.footer-contacts p {
    margin-bottom: 15px;
    color: #333f48;
}
.footer-contacts p:last-child {
    margin-bottom: 0;
}
footer hr {
    margin-top: 25px;
    margin-bottom: 25px;
}
/* FOOTER */