@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
}



/* HEADER */
.header-top {
    background-color: #f3f3f3;
}
.header-top-nav {
    flex: 0 0 auto;
    width: 70%;
}
.header-top-search {
    flex: 0 0 auto;
    width: 30%;
    position: relative;
}
.header-top-search .form-control {
    border-radius: 0;
    background: #666666;
    border: 0;
    padding: 8px 16px;
    border: 2px solid transparent;
    color: #fff;
    font-size: 16px;
}
.header-top-search input[type="submit"] {
    background: url('/img/search-icon.svg') center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    border: 0;
    box-shadow: none;
}
.header-top-search .form-control::placeholder {
    color: #fff;
}
.header-top-search .form-control:focus {
    outline: none !important;
    border-color: #1D88D8;
    box-shadow: none;
}
/* HEADER */



/* HOME */
.home-carousel {
    margin: 40px 0;
}
.home-carousel-1 {
    background: url('/img/bg-carousel.jpg') center center;
    background-size: cover;
    height: 405px;
}

.home-carousel-2,
.home-carousel-3 {
    height: 190px;
    background-color: #f1f1f1;
}

.home-carousel-2 {
    margin-bottom: 25px;
}

/* HOME */