@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.nuxt-progress {
    height: 3px !important;
    background-color: #1D88D8 !important;
}

.btn-standard {
    padding: 12px 40px;
    font-size: 17px;
    border: 0;
    background-color: #1D88D8;
    color: #fff;
}

.btn-outline-standard {
    padding: 10px 38px;
    font-size: 17px;
    border: 2px solid #1D88D8;
    background-color: #fff;
    color: #1D88D8;
}

.header-top {
    background-color: #3A3A3A;
    color: #fff;
}

.header-top-tel {
    flex: 0 0 auto;
    width: 70%;
}

.header-top-tel a {
    display: inline-flex;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header-top-search {
    flex: 0 0 auto;
    width: 30%;
    position: relative;
}

.header-top-search .form-control {
    border-radius: 0;
    background: #666666;
    border: 0;
    padding: 8px 16px;
    border: 2px solid transparent;
    color: #fff;
    font-size: 16px;
}

.header-top-search input[type="submit"] {
    background: url('/img/search-icon.svg') center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    border: 0;
    box-shadow: none;
}

.header-top-search .form-control::placeholder {
    color: #fff;
}

.header-top-search .form-control:focus {
    outline: none !important;
    border-color: #1D88D8;
    box-shadow: none;
}

.header-bottom {
    border-bottom: 1px solid #ddd;
}

.header-bottom-logo {
    flex: 0 0 auto;
    width: 20%;
}

.header-bottom-logo a {
    display: block;
}

.header-bottom-logo img {
    width: 100%;
}

.header-bottom-nav {
    flex: 0 0 auto;
    width: 50%;
}

.header-bottom-nav .nav-link {
    padding: 25px 20px;
    color: #333;
}

.header-bottom-nav .nav-link:hover {
    color: #1D88D8;
}

.header-bottom-cart {
    flex: 0 0 auto;
    width: 30%;
    text-align: right;
}

.header-bottom-cart .minicart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.header-bottom-cart a {
    color: #333;
    text-decoration: none;
}

.header-bottom-cart .minicart-content {
    display: inline-flex;
    padding-right: 15px;
}

.header-bottom-cart .minicart-icon {
    background-color: #1D88D8;
    display: inline-flex;
    padding: 26px 15px;
}

.header-bottom-cart .minicart-icon img {
    width: 100%;
}

.home-carousel {
    height: 500px;
    background: url('/img/bg-carousel.jpg') center bottom;
    background-size: cover;
}

.home-carousel .container {
    position: relative;
    height: 100%;
}

.home-carousel .home-carousel-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
}

.home-carousel .home-carousel-inner h1 {
    margin: 0;
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.block-title {
    font-size: 46px;
    font-weight: 700;
    color: #1D88D8;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.block-page-title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.home-products-block {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-products-item {
    text-align: center;
}

.home-products-item a {
    color: #333;
    text-decoration: none;
}

.home-products-item-image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 15px;
}

.home-products-item a:hover p {
    color: #1D88D8;
}

.home-products-item span {
    display: block;
    margin-bottom: 5px;
}

.home-products-item span strong {
    color: #1D88D8;
}

.home-products-item span i {
    font-style: normal;
    color: #999;
}


.home-preim {
    background-color: #1D88D8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-preim .block-title {
    color: #fff;
}

.home-preim-item {
    border: 2px solid rgba(255,255,255,0.85);
    color: #fff;
    padding: 40px;
}

.home-preim-item p {
    margin: 0;
    line-height: 1;
}

.home-preim-item p strong {
    display: block;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0;
}

.home-preim-item p span {
    font-size: 50px;
    font-weight: 700;
}

.home-preim-item p small {
    font-size: 17px;
}

.home-categories {
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #1D88D8;
}

.home-categories .block-title {
    color: #fff;
}

.home-categories-item {
    margin-bottom: 25px;
}

.home-categories-item a {
    display: block;
    border: 2px solid rgba(255,255,255,0.85);
    padding: 25px;
    color: #fff;
    text-decoration: none;
}

.home-categories-item a:hover {
    color: #1D88D8;
    background-color: #fff;
}

.home-categories-item a h3 {
    font-size: 22px;
    margin: 0;
}

.category-page {
    margin-bottom: 50px;
}

.category-page .category-item {
    text-align: center;
    margin-bottom: 25px;
}

.category-page .category-item a {
    color: #333;
    text-decoration: none;
}

.category-page .category-item a h3 {
    font-size: 17px;
    margin: 0;
    margin-top: 15px;
}

.category-page .category-item-image {
    height: 200px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.product-page {
    margin-bottom: 50px;
}

.page-page {
    margin-bottom: 50px;
}

.cart-page {
    margin-bottom: 50px;
}

.cart-page table tr td {
    vertical-align: middle;
}



.page-products-item {
    text-align: center;
    margin-bottom: 25px;
}

.page-products-item a {
    color: #333;
    text-decoration: none;
}

.page-products-item-image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 15px;
}

.page-products-item a:hover p {
    color: #1D88D8;
}

.page-products-item span {
    display: block;
}

.page-products-item span i {
    font-style: normal;
    color: #999;
}

.product-page h1 {
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.product-page .another-products {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.product-page .another-products .block-page-title {
    text-align: center;
    margin-bottom: 35px;
}

.product-page .ProductGallerySwiper {
    position: relative;
}
.product-page .ProductGallerySwiper .swiper-slide {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.product-page .ProductGallerySwiperMini {
    height: 100%;
}
.product-page .ProductGallerySwiperMini .swiper-slide {
    height: 100px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ddd;
}
.product-page .price {
    font-size: 46px;
    color: #999;
}
.product-page .price span {
    color: #1D88D8;
}
.product-page .tech-info {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    padding: 25px;
}

.product-page .tech-info .table {
    border-color: transparent;
}

.product-page .tech-info .table tr td:first-child {
    color: #999;
}



.breadcrumb {
    color: rgb(173, 173, 173);
    font-size: 15px;
}

.breadcrumb a {
    color: #999;
}


footer {
    background-color: #3A3A3A;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
}

.footer-logo {
    flex: 0 0 auto;
    width: 15%;
}

.footer-logo a {
    display: block;
}

.footer-logo img {
    width: 100%;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-mail {
    flex: 0 0 auto;
    width: 15%;
    text-align: center;
}

.footer-tel {
    flex: 0 0 auto;
    width: 15%;
    text-align: center;
}

.footer-tel a {
    color: #fff;
    text-decoration: none;
}

.footer-address {
    flex: 0 0 auto;
    width: 35%;
    text-align: center;
}

.footer-schedule {
    flex: 0 0 auto;
    width: 20%;
    text-align: right;
}



.admin_panel .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.admin_panel .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #f8f9fa !important;
}

@media (max-width: 767.98px) {
    .admin_panel .sidebar {
        top: 5rem;
    }
}

.admin_panel .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.admin_panel .sidebar .nav-link {
    font-weight: 500;
    color: #333;
    margin: 8px 0;
}

.admin_panel .sidebar .nav-link.active {
    font-weight: 700;
    color: #1D88D8;
}

.admin_panel .sidebar .nav-link:hover {
    color: #1D88D8;
}

.admin_panel .sidebar .nav-link svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.admin_panel .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.admin_panel .sidebar .nav-link.active {
    color: #2470dc;
}

.admin_panel .sidebar .nav-link:hover .feather,
.admin_panel .sidebar .nav-link.active .feather {
    color: inherit;
}

.admin_panel .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.admin_panel .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    margin: 0;
}

.admin_panel .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.admin_panel .subheader {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.admin_panel .subheader {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}




.admin_panel table {
    width: 100%;
}

.admin_panel table tr td {
    vertical-align: middle;
}

.admin_panel table tr td ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.admin_panel table tr td ul li {
    margin-bottom: 5px;
}

.admin_panel table tr td ul li:last-child {
    margin-bottom: 0;
}

.admin_panel .form-label {
    color: #777;
    font-size: 15px;
}

.admin_panel .ck-editor__editable {
    min-height: 150px;
}



.admin_panel .tree {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 30px;
}
.admin_panel .tree .btn-sm {
    font-size: 0.600rem;
    padding: 0.15rem 0.4rem;
}
.admin_panel .tree ul {
    margin-left: 20px;
}
.admin_panel .tree li {
    list-style-type: none;
    margin:10px;
    position: relative;
}
.admin_panel .tree li::before {
    content: "";
    position: absolute;
    top:-7px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius:0 0 0 0px;
    width:20px;
    height:15px;
}
.admin_panel .tree li::after {
    position:absolute;
    content:"";
    top:8px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-radius:0px 0 0 0;
    width:20px;
    height:100%;
}
.admin_panel .tree li:last-child::after  {
    display:none;
}
.admin_panel .tree li:last-child:before{
    border-radius: 0 0 0 5px;
}
.admin_panel ul.tree>li:first-child::before {
    display:none;
}
.admin_panel ul.tree>li:first-child::after {
    border-radius:5px 0 0 0;
}
.admin_panel .tree li span {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}
.admin_panel .tree li {
    font-weight: bold;
}
.admin_panel .tree ul li span {
    font-weight: normal;
}




.filepond--root .filepond--credits {
    display: none !important;
}